<div class="container-fluid bg-light-green-transparent">
	<div class="row"  style="min-height: 650px; position: relative; overflow: hidden;">
		
		<div class="col-12 col-md-4 col-lg-6 offset-lg-3 text-center mt-5 pt-5" >
			<h3 class="title-main">Oops! <br>Page does not exist.</h3>
			<h5 class="title-description px-lg-5">The page you are looking for doesn't seem to be available. Please try again later!</h5>

			<div class="text-center py-5 d-none d-lg-block">
				<button class="btn btn-primary me-4 contact-now hvr-grow">Contact Now</button>
				<button class="btn back-home ms-2 hvr-grow" (click)="goBack()">Go to Home</button>
			</div>

			<div class="text-center py-3 d-block d-lg-none">
				<button class="btn btn-primary btn-block w-100 mb-3 contact-now hvr-grow">Contact Now</button>
				<button class="btn back-home btn-block w-100 hvr-grow" (click)="goBack()">Go to Home</button>
			</div>
		</div>

		<!-- <img src="/assets/images/placeholder/not-found-dog-left.png" class="dog-not-found-left">
		<img src="/assets/images/placeholder/not-found-dog-right.png" class="dog-not-found-right">
 -->
	</div>
</div>