<div class="container px-10 mx-auto pb-10">
	<div class="">
		<h3 class="title-main" >Lorem Ipsum</h3>

		<h5 class="title-sub">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur
		</h5>

		<div class="grid mt-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4">
			<!-- col-1 -->
			<div class="lg:grid-span-3 md:grid-span-2 sm:grid-span-1 p-5 bg-blue-100">
				<div class="icon-holder bg-dark-blue hvr-wobble-top">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">Sed ut perspiciatis </h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>

				<button class="btn btn-primary mt-3 hvr-forward relative" routerLink="/account/signup">
					Join MoveUp Now
				</button>
			</div>

			<!-- col-2 -->
			<div class="lg:grid-span-3 md:grid-span-2 sm:grid-span-1 p-5 bg-red-100">
				<div class="icon-holder bg-dark-blue me-4 hvr-wobble-top">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">unde omnis iste </h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>
			</div>

			<!-- col-3 -->
			<div class="lg:grid-span-3 md:grid-span-2 sm:grid-span-1 p-5 bg-green-100">
				<div class="icon-holder bg-dark-blue me-4 hvr-wobble-top">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">natus error</h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>

				<button class="btn btn-primary mt-3 hvr-forward relative" routerLink="/account/signup">
					Join MoveUp Now
				</button>
			</div>
		</div>

		<div class="grid mt-4 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4">
			<!-- col-1 -->
			<div class="lg:grid-span-2 md:grid-span-2 sm:grid-span-1 p-5 bg-violet-200
			flex">
				<div class="icon-holder bg-dark-blue hvr-wobble-top mr-3">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">Sed ut perspiciatis </h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>
			</div>

			<!-- col-2 -->
			<div class="lg:grid-span-2 md:grid-span-2 sm:grid-span-1 p-5 bg-orange-100 
			flex">
				<div class="icon-holder bg-dark-blue me-4 hvr-wobble-top mr-3">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">unde omnis iste </h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>
			</div>

		</div>
	</div>
</div>

<section class="bg-gray-700">
	<div
	class="max-w-lg bg-gray-700 px-4 pt-10 py-8 mx-auto text-left md:max-w-none md:text-center"
	>
		<h1
		class="text-3xl font-extrabold leading-10 tracking-tight text-left text-white text-center sm:leading-none md:text-6xl text-4xl lg:text-7xl"
		>
			<span class="inline md:block">Join Us</span>
			<span
			class=" mt-2 bg-clip-text text-transparent bg-gradient-to-r from-purple-400 via-emerald-400 to-green-500 md:inline-block"
			> We are<span class="bg-clip-text text-transparent bg-gradient-to-r from-teal-500 via-cyon-400 to-purple-300"> Hiring</span> </span>
		</h1>
		<div
		class="mx-auto rounded-lg font-black mt-5 text-zinc-400 md:mt-12 md:max-w-lg text-center lg:text-lg"
		>
		<button class="bg-tkb border text-sm text-white py-3 px-7 rounded-full hvr-grow">
			Join MoveUp
		</button>
		</div>
	</div>
</section>

<hr class="text-white mx-5" />