<div class="container px-10 mx-auto pb-10">
	<div class="">
		<h3 class="title-main" >Lorem Ipsum</h3>

		<h5 class="title-sub">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur
		</h5>

		<div class="grid mt-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4">
			<!-- col-1 -->
			<div class="lg:grid-span-3 md:grid-span-2 sm:grid-span-1 p-5 bg-blue-100">
				<div class="icon-holder bg-dark-blue hvr-wobble-top">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">Sed ut perspiciatis </h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>

				<button class="btn btn-primary mt-3 hvr-forward relative" routerLink="/account/signup">
					Join MoveUp Now
				</button>
			</div>

			<!-- col-2 -->
			<div class="lg:grid-span-3 md:grid-span-2 sm:grid-span-1 p-5 bg-red-100">
				<div class="icon-holder bg-dark-blue me-4 hvr-wobble-top">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">unde omnis iste </h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>
			</div>

			<!-- col-3 -->
			<div class="lg:grid-span-3 md:grid-span-2 sm:grid-span-1 p-5 bg-green-100">
				<div class="icon-holder bg-dark-blue me-4 hvr-wobble-top">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">natus error</h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>

				<button class="btn btn-primary mt-3 hvr-forward relative" routerLink="/account/signup">
					Join MoveUp Now
				</button>
			</div>
		</div>

		<div class="grid mt-4 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4">
			<!-- col-1 -->
			<div class="lg:grid-span-2 md:grid-span-2 sm:grid-span-1 p-5 bg-violet-200
			flex">
				<div class="icon-holder bg-dark-blue hvr-wobble-top mr-3">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">Sed ut perspiciatis </h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>
			</div>

			<!-- col-2 -->
			<div class="lg:grid-span-2 md:grid-span-2 sm:grid-span-1 p-5 bg-orange-100 
			flex">
				<div class="icon-holder bg-dark-blue me-4 hvr-wobble-top mr-3">
					<img src="/assets/images/placeholder/background.png" class="icon-image">
				</div>
				<div>
					<h5 class="title-about hvr-grow">unde omnis iste </h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>
			</div>

		</div>
	</div>
</div>
